@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;1,400&family=Montserrat:wght@300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #242222;
}

#header-ribbon {
    justify-content: space-between;
    background: cyan;
    align-items: center;
    margin: 0 10px;

}


#h#eader-text>#logo {

    border: 5px #0a0a0a solid;
    margin: 10px 0 0 10px;

}

#text {

    font-size: 500%;
    font-weight: bold;

    padding-left: 50px;


}

/* navigation-menu styling */

#navigation-menu ul {

    background: cyan;

    margin: 0 10px;
    text-align: center;
    padding-left: 40px;
}

#navigation-menu li {
    display: inline-block;


}

#navigation-menu a {
    text-decoration: none;
    width: 120px;
    display: block;
    text-transform: uppercase;

    font-size: 20px;
    color: red;
    font-weight: bold;
    text-align: center;
    transition: .5s;
    padding-bottom: 10px;


}

#navigation-menu a:hover {
    text-decoration: underline solid black;
    color: blue;

}

#hero-image {

    width: 100%;
    border: 1px solid red;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow: hidden;
    padding-top: 0;
    margin: 0 10px;


}

#cover-text {
    font-family: Roboto, sans-serif;
    font-size: 170%;
    text-transform: uppercase;
    letter-spacing: 3px;
    bottom: 400px;

    position: absolute;
    text-align: center;
    padding-left: 200px;

}

#sub-headline {
    color: #fff;
    text-transform: capitalize;
}

#take-off {
    color: red;
}

#columns,
#intro-text {
    font-weight: bold;
    line-height: 1.5;
    margin: 20px;
}

#columns {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: auto;
    text-align: justify;
    padding: 0 10px;


}

#our-service {
    padding-left: 20px;
    color: blue;
}

.services {
    width: 20%;
    box-sizing: border-box;
    margin: auto;
    height: 300px;
}

.column-header {
    color: blue;
    text-transform: uppercase;

}

hr {

    border: 4px solid blue;
    width: 100vw;
    margin: 10px;
}


/* Style social media awesome icons */

footer {
    height: 16px;

}

.social-icons {
    text-align: center;
}

.social-icons>li {
    display: inline;
}

.social-icons i {
    color: blue;
    font-size: 1.7rem;
    margin: .2%;
    padding: 2%;
}

footer>h1 {
    text-align: center;
}

/* styling for different tablets and mobiles */

@media screen and (max-width: 950px) {

    @media screen and (max-width: 750px) {}