@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;1,400&family=Montserrat:wght@300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #242222

}

/* heading and logo styling */
h1, h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #4d4a4a;
    
}
#logo {
        margin-left: 30px;
        outline: 4px solid rgb(104, 204, 181);
        display: inline-block;
        margin-top: 30px;

    
    /* width: auto;
    height: 400px; */
    
     /* float: left;
    font-size: 280% */
    
}
.menu {
    font-size: 110%;
    letter-spacing: 4px;
    color:blue;
    font-weight: bold;
    padding-right: 60px;
}
.menu, #logo {
    line-height: 30px;
}
.menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    text-transform: uppercase;
    padding-bottom: 20px;
    
}
.menu {
    display: flex;
    justify-content: flex-end;
}
#header-ribbon{
    background-color: lightblue;
    
  }
.menu a {
    text-decoration: none;
    color: inherit;
    transition: 1s;
    
}
 .menu a:hover {
    /* text-decoration: underline red; */
    border: 2px solid rgb(194, 15, 57);
    border-radius: 4px;
    


 }
 .active {
    /* border-bottom: 1px solid #a51a1a; */
 }

 #hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
           
 }

 #hero-image {
    height: 500px;
    width: 100%;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
   
 }
 
 @keyframes hero-zoom {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(1.1);
    }
 }
 .cover-text{
    font-family: Roboto, sans-serif;
    font-size: 150%;
    text-transform: uppercase;
    letter-spacing: 4px;
    /* height: 100px; */
    /* width: 1000px; */
    padding-top: 250px;
    padding-left: 300px;
    /* background-color:rgba(244, 247, 244, 0.5); */
    bottom: 300px;
    right: 50px;
    position: absolute;
    /* z-index: 2; */
    text-align: center;
    background-repeat: no-repeat;

 }
 #take-off {
    color:#a51a1a;
    
 }
 #main-message {
    color: blue;
 }
 #sub-headline {
    color: rgb(16, 15, 17);
    padding-top: 10px;
    padding-left:50px;
    text-transform:initial;
    font-weight:400;
 }